/* Custom properties/variables  */
.title, .nav-list {
  color:rgb(3, 45, 96);
}
.title {
  color:white;
  
}
.salesforceLogo{
  width:42px;
  background-image:url("beautifulSalesforceLogo.svg");
}

.astro{
  content:"Hello, Astro.";
}

.hero{
  display:grid;
  background-image: url('autumn.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  border-radius:5%;
}
/* Base reset */
* {
  margin: 0;
  padding: 0;
}
/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
div{
  position:inherit;
  font-size: 400%;
}
#second{
  right: 200px;
}
#third{
  left: 100px;
  color: #00bfff;
  font-size: larger;
}
#fourth{
  left: 200px;
}
/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/
/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
*/
/* 1200px / 16px = 75em */
* 980px / 16px = 61.25em

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
/* Base styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}
h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  width: 51%;
  display: flex;
  position: relative;
  padding: 2px;
  height: auto;
  justify-content: center;
  border-radius: 18%;
  border: 1px;
}
.einstein{
  width:100%;
}

/* nav */

.nav {
  font-size:large;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height:7vw;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  font-size: 23.2rem;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a:hover {
  color: #00bfff;
}
.thirdcircle{
  display:flex;
  justify-content: center;
}

/* Welcomeed section */
.equallydistributed {
  content: "Hello Salesforce";
}
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  color: rgb(3, 45, 96);
  padding: 18px;
  background-image: our-story-marquee-fg;
}
.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}
/* Projects section */
.projects-section {
  border-color:blue;
  border:1px;
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
  border-radius: 18px;
}
.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}
@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}
.circle{
  border: 18px;
}
/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  background-color: rgb(127, 136, 143);
  border-radius: 18px;
}
@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}
.project:hover .code {
  color: #ff7f50;
}
.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}
.btn-show-all:hover {
  background: var(--main-red);
}
.btn-show-all:hover > i {
  transform: translateX(2px);
}
.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
  border-radius: 18px
}
.contact-section-header > h2 {
  font-size: 6rem;
}
@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}
.contact-section-header > p {
  font-style: italic;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
.contact-details:hover {
  transform: translateY(8px);
}
/* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}
footer > p {
  margin: 2rem;
}
footer i {
  vertical-align: middle;
}
@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
body {
}
article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1abc9c;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  font-size: 135%;
  border-radius: 18px;
}
article h2 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
article p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fff;
}
article ul {
  margin-bottom: 20px;
  list-style: disc;
  margin-left: 40px;
}
article li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 5px;
  color: #fff;
}
article a {
  color: #fff;
  text-decoration: underline;
}
article a:hover {
  color: #eee;
}
@media screen and (max-width: 768px) {
  article {
    padding: 10px;
  }
  article h2 {
    font-size: 2rem;
  }
  article p {
    font-size: 2rem;
    }
}
.relationshipDesign{
  background-image: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
  -webkit-background-clip: text;
  color: transparent;
  content:"hello astro";  
}