name: Lint

on: [pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install ESLint
        run: npm install -g eslint@8
      - name: Run ESLint
        run: eslint "**/*.js" --ext .js --max-warnings 0
